DB/database.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="database">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="host" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="user" type="xs:string"/>
                <xs:element name="contrasenha" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
